body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header Left Styles */
.header-left {
    display: flex;
    align-items: center;
}

.mobile-icon {
    font-size: 48px;
    margin-right: 10px;
}

/* Header Links Styles */
.header-links {
    display: flex;
    align-items: center;
}

.header-links a {
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
}

.search-bar {
    background-color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
}

cart-button {
    background-color: #fff;
    color: #000;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

/* Taskbar Styles */
nav {
    background-color: #94929276;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: lighter;
}



.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 20px;
}

p {
    margin: 0 0 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

.submit-button {
    width: auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #555;
}
/* Footer Styles */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 800px;
}

/* Footer Columns Styles */
.footer-columns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    max-width: 15%;
    text-align: left;
    padding: 10px;
}

.footer-column h3 {
    color: #fff;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin: 5px 0;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}
